In [52]:
import os
import pandas as pd
import numpy as np
from PIL import Image
import cv2

In [53]:
PATH = os.path.join(os.getcwd(), 'SKU110K', 'annotations', 'annotations_test.csv')
PATH = "D:/CAPSTONE/SKU110K_CVPR19/annotations_clean/annation_new_val_2023-10-19_23_30_15_260409.csv"
df = pd.read_csv(PATH,  names=['img_name', 'x1', 'y1', 'x2', 'y2', 'class', 'width', 'height'])

In [54]:
df.head()

    img_name    x1   y1    x2   y2   class  width  height
0  val_1.jpg  1194  294  1292  681  object   2448    3264
1  val_1.jpg  2102  468  2303  708  object   2448    3264
2  val_1.jpg  1847  377  1964  701  object   2448    3264
3  val_1.jpg  1687  357  1791  673  object   2448    3264
4  val_1.jpg  1585  372  1661  701  object   2448    3264

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86118 entries, 0 to 86117
Data columns (total 8 columns):
img_name    86118 non-null object
x1          86118 non-null int64
y1          86118 non-null int64
x2          86118 non-null int64
y2          86118 non-null int64
class       86118 non-null object
width       86118 non-null int64
height      86118 non-null int64
dtypes: int64(6), object(2)
memory usage: 5.3+ MB

In [56]:
base_dir = os.path.join(os.getcwd(),'SKU110K','images')

In [57]:
err_img = []

In [58]:

for img in df.img_name.unique():
    file_pth = os.path.join(base_dir, img)
    if os.path.isfile(file_pth):
        with open(file_pth, 'rb') as file:
            check_chars = file.read()[-2:]  
        if check_chars != b'\xff\xd9': 
            print('Not complete image: ', img)
            err_img.append(img)
    else: err_img.append(img)

In [59]:
len(err_img)

0

In [29]:
for img in err_img:
    img_path = os.path.join(base_dir, img)
    if os.path.isfile(img_path): 
        os.remove(img_path)
        print('remove success: ', img)

In [30]:
mask = df['img_name'].isin(err_img)

In [31]:
mask

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
404996    False
404997    False
404998    False
404999    False
405000    False
405001    False
405002    False
405003    False
405004    False
405005    False
405006    False
405007    False
405008    False
405009    False
405010    False
405011    False
405012    False
405013    False
405014    False
405015    False
405016    False
405017    False
405018    False
405019    False
405020    False
405021    False
405022    False
405023    False
405024    False
405025    False
Name: img_name, Length: 405026, dtype: bool

In [32]:
df_new = df[~mask]

In [33]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 405026 entries, 0 to 405025
Data columns (total 8 columns):
img_name    405026 non-null object
x1          405026 non-null int64
y1          405026 non-null int64
x2          405026 non-null int64
y2          405026 non-null int64
class       405026 non-null object
width       405026 non-null int64
height      405026 non-null int64
dtypes: int64(6), object(2)
memory usage: 27.8+ MB

In [34]:
from datetime import datetime
prev_name = 'test'
time_now = str(datetime.now()).replace(' ', '_').replace('.','_').replace(':','_')
df_new.to_csv('D:/CAPSTONE/SKU110K_CVPR19/annotations_clean/annation_new_{}_{}.csv'.format(prev_name, time_now), header=False, index=False)

In [18]:
import pandas as pd
df2 = pd.read_csv("D:\\CAPSTONE\\SKU110K_CVPR19\\annotations_clean\\annation_new_val_2023-10-19_23_30_15_260409.csv")

In [19]:
df2.head()

   val_1.jpg  1194  294  1292  681  object  2448  3264
0  val_1.jpg  2102  468  2303  708  object  2448  3264
1  val_1.jpg  1847  377  1964  701  object  2448  3264
2  val_1.jpg  1687  357  1791  673  object  2448  3264
3  val_1.jpg  1585  372  1661  701  object  2448  3264
4  val_1.jpg  1436  307  1545  693  object  2448  3264

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86117 entries, 0 to 86116
Data columns (total 8 columns):
val_1.jpg    86117 non-null object
1194         86117 non-null int64
294          86117 non-null int64
1292         86117 non-null int64
681          86117 non-null int64
object       86117 non-null object
2448         86117 non-null int64
3264         86117 non-null int64
dtypes: int64(6), object(2)
memory usage: 5.3+ MB